v-navigation-drawer.side-menu(absolute permanent)
  v-row.justify-center.py-5
    v-btn(color="primary" large @click="createTableDialog = true") Create Table
  v-divider
  v-list(shaped)
    v-subheader Tables
    v-list-item-group(v-model="selectedTableIndex" color="primary")
      v-list-item(v-for="item, index in tableList", :key="index")
        v-list-item-icon.mr-0
          v-icon(small) table
        v-list-item-content
          v-list-item-title.text-left {{ item }}

  v-dialog(v-model="createTableDialog" width=800)
    v-card
      v-card-title Create Table
      v-divider
      v-card-text.py-4
        v-row.justify-center
          v-col.pa-0(cols=8)
            v-text-field(v-model="createTableParam.tableName" label="Table Name")
          v-col.pa-0(cols=8)
            v-text-field(v-model="createTableParam.hashKey" label="Hash Key")
          v-col.pa-0(cols=8)
            v-select(v-model="createTableParam.hashKeyType" label="Hash Key Type"
              :items="keyTypes", item-text="text", item-value="value")
          v-col.pa-0(cols=8)
            v-text-field(v-model="createTableParam.rengeKey" label="Renge Key")
          v-col.pa-0(cols=8)
            v-select(v-model="createTableParam.rengeKeyType" label="Renge Key Type"
              :items="keyTypes", item-text="text", item-value="value")
          v-col.pa-0(cols=12)
            v-btn(color="primary" large @click="createTable()") Create
